<a href="https://colab.research.google.com/github/UmmadisettyVenkataBhanuSree/hello-world/blob/master/winequality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np

In [150]:
df = pd.read_csv('winequality-red.csv')

In [151]:
df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [152]:
df.shape

(1599, 12)

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [154]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [173]:
x = df.iloc[:,2:12].values
y = df.iloc[:,11].values

In [174]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 50 )

In [175]:
x_train.shape

(1119, 10)

In [176]:
x_test.shape

(480, 10)

In [177]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [178]:
y_pred

array([7., 5., 6., 5., 7., 7., 5., 5., 5., 5., 5., 5., 6., 6., 6., 5., 5.,
       6., 5., 6., 3., 6., 6., 5., 5., 5., 5., 5., 5., 5., 6., 5., 5., 6.,
       5., 7., 7., 6., 5., 5., 5., 6., 5., 6., 5., 6., 5., 4., 5., 5., 5.,
       7., 6., 5., 5., 5., 5., 5., 6., 6., 5., 5., 5., 8., 5., 5., 7., 5.,
       6., 5., 6., 6., 6., 6., 5., 6., 5., 5., 4., 4., 5., 6., 7., 5., 5.,
       5., 6., 5., 5., 5., 5., 6., 5., 7., 5., 7., 7., 5., 4., 5., 5., 6.,
       7., 6., 5., 5., 6., 6., 5., 5., 5., 5., 6., 6., 6., 5., 4., 5., 6.,
       5., 7., 5., 6., 5., 6., 6., 5., 6., 5., 5., 5., 6., 5., 5., 5., 6.,
       5., 6., 5., 5., 5., 6., 6., 5., 7., 5., 5., 5., 7., 5., 5., 5., 7.,
       5., 6., 5., 5., 5., 5., 5., 5., 6., 6., 5., 7., 6., 7., 7., 6., 6.,
       6., 6., 5., 5., 5., 6., 5., 5., 6., 6., 5., 7., 5., 5., 5., 5., 7.,
       5., 5., 7., 6., 6., 7., 5., 6., 6., 5., 6., 6., 6., 5., 7., 7., 5.,
       7., 6., 5., 6., 5., 6., 5., 6., 6., 5., 8., 6., 5., 6., 6., 4., 7.,
       6., 5., 5., 5., 5., 5., 5., 6., 6., 6., 5., 6., 5., 5., 5., 6., 5.,
       5., 6., 6., 5., 6., 6., 5., 5., 6., 6., 6., 5., 6., 5., 3., 6., 6.,
       3., 6., 5., 5., 6., 5., 5., 6., 6., 5., 5., 5., 5., 5., 5., 5., 6.,
       6., 6., 8., 5., 6., 5., 6., 5., 5., 4., 5., 5., 5., 5., 6., 5., 5.,
       5., 5., 5., 6., 5., 6., 6., 5., 6., 6., 4., 6., 6., 6., 5., 5., 6.,
       7., 5., 6., 6., 7., 5., 7., 5., 6., 5., 5., 6., 5., 6., 7., 6., 6.,
       7., 6., 6., 6., 7., 6., 6., 5., 5., 6., 5., 5., 7., 6., 8., 5., 6.,
       5., 5., 5., 6., 6., 6., 5., 6., 5., 6., 5., 5., 6., 6., 7., 6., 6.,
       6., 6., 5., 6., 5., 5., 4., 5., 5., 5., 5., 5., 5., 5., 6., 6., 5.,
       6., 6., 7., 5., 6., 5., 7., 5., 7., 5., 6., 5., 6., 7., 6., 6., 5.,
       6., 5., 5., 5., 5., 4., 6., 6., 6., 6., 6., 5., 7., 5., 7., 5., 6.,
       5., 6., 6., 5., 5., 5., 7., 7., 5., 6., 5., 5., 5., 6., 5., 7., 6.,
       7., 6., 6., 5., 6., 7., 8., 7., 6., 6., 5., 6., 5., 6., 6., 5., 6.,
       6., 5., 5., 5., 5., 4., 6., 6., 5., 5., 5., 6., 5., 5., 6., 5., 5.,
       7., 5., 5., 6., 6., 7., 5., 5., 7., 6., 6., 5., 6., 7., 4., 6., 5.,
       5., 7., 5., 6.])

In [179]:
y_test

array([7, 5, 6, 5, 7, 7, 5, 5, 5, 5, 5, 5, 6, 6, 6, 5, 5, 6, 5, 6, 3, 6,
       6, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 7, 7, 6, 5, 5, 5, 6, 5, 6,
       5, 6, 5, 4, 5, 5, 5, 7, 6, 5, 5, 5, 5, 5, 6, 6, 5, 5, 5, 8, 5, 5,
       7, 5, 6, 5, 6, 6, 6, 6, 5, 6, 5, 5, 4, 4, 5, 6, 7, 5, 5, 5, 6, 5,
       5, 5, 5, 6, 5, 7, 5, 7, 7, 5, 4, 5, 5, 6, 7, 6, 5, 5, 6, 6, 5, 5,
       5, 5, 6, 6, 6, 5, 4, 5, 6, 5, 7, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6,
       5, 5, 5, 6, 5, 6, 5, 5, 5, 6, 6, 5, 7, 5, 5, 5, 7, 5, 5, 5, 7, 5,
       6, 5, 5, 5, 5, 5, 5, 6, 6, 5, 7, 6, 7, 7, 6, 6, 6, 6, 5, 5, 5, 6,
       5, 5, 6, 6, 5, 7, 5, 5, 5, 5, 7, 5, 5, 7, 6, 6, 7, 5, 6, 6, 5, 6,
       6, 6, 5, 7, 7, 5, 7, 6, 5, 6, 5, 6, 5, 6, 6, 5, 8, 6, 5, 6, 6, 4,
       7, 6, 5, 5, 5, 5, 5, 5, 6, 6, 6, 5, 6, 5, 5, 5, 6, 5, 5, 6, 6, 5,
       6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 3, 6, 6, 3, 6, 5, 5, 6, 5, 5, 6, 6,
       5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 8, 5, 6, 5, 6, 5, 5, 4, 5, 5, 5, 5,
       6, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 6, 6, 4, 6, 6, 6, 5, 5, 6, 7, 5,
       6, 6, 7, 5, 7, 5, 6, 5, 5, 6, 5, 6, 7, 6, 6, 7, 6, 6, 6, 7, 6, 6,
       5, 5, 6, 5, 5, 7, 6, 8, 5, 6, 5, 5, 5, 6, 6, 6, 5, 6, 5, 6, 5, 5,
       6, 6, 7, 6, 6, 6, 6, 5, 6, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 6, 6, 5,
       6, 6, 7, 5, 6, 5, 7, 5, 7, 5, 6, 5, 6, 7, 6, 6, 5, 6, 5, 5, 5, 5,
       4, 6, 6, 6, 6, 6, 5, 7, 5, 7, 5, 6, 5, 6, 6, 5, 5, 5, 7, 7, 5, 6,
       5, 5, 5, 6, 5, 7, 6, 7, 6, 6, 5, 6, 7, 8, 7, 6, 6, 5, 6, 5, 6, 6,
       5, 6, 6, 5, 5, 5, 5, 4, 6, 6, 5, 5, 5, 6, 5, 5, 6, 5, 5, 7, 5, 5,
       6, 6, 7, 5, 5, 7, 6, 6, 5, 6, 7, 4, 6, 5, 5, 7, 5, 6])

In [180]:
from sklearn import metrics
metrics.mean_absolute_error(y_test,y_pred)

3.2807090377673377e-15

In [181]:
metrics.r2_score(y_test,y_pred)

1.0